@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-image: url("../images/tic-tac-toe.png");
    font-family: 'Railway', sans-serif;
    font-weight: 550;
    line-height: 2.5em;
}

.our-content {
    font-family: 'Railway', sans-serif;   
    font-weight: 900;
    max-width: 600px;
    margin: auto;    
    padding-top: 80px;
    padding-bottom: 72px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }
  
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  text-decoration: underline;
}


li .active {
    background-color: orange ;
}